root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{lua,toc}]
end_of_line = crlf
tab_width = 4
indent_style = tab

[*.{yml,yaml}]
charset = utf-8
tab_width = 2
indent_style = tab
indent_style = space
